.roadmap {
  padding-top: 40px;
  padding-bottom: 10px;

  @media screen and (max-width: 1279px) {
    padding-top: 30px;
  }
}

.roadmap__container {
  width: min(1306px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.roadmap__title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 42px;
  text-transform: uppercase;
  color: #000;

  @media screen and (max-width: 1279px) {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.roadmap__schedule {
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1279px) {
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.schedule__date {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--text-blue);
}

.schedule__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.schedule__event {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;

  &::before {
    margin-right: 10px;
    translate: 0 5%;

    content: url("../public/img/roadmap/roadmap_mark.png");
  }
}
.schedule__event.complete {
  &::before {
    content: url("../public/img/roadmap/roadmap_mark_complete.png");
  }
}

.roadmap__img {
  display: flex;
  justify-content: center;
}
